workflows/✅ NMTH-Elasticsearch-v2-MCP-Telegram.json
{
  "name": "✅ NMTH-Elasticsearch-v2-MCP-Telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an expert digital archivist for the National Museum of Taiwan History.\nYou are a strict API router. \nYour ONLY job is to pass the user's query to the MCP tool and return its exact response.\n\nCRITICAL RULES:\n1. You are ONLY allowed to use the tools `search_kb` and `search_qa_logs`. DO NOT ever use `platform_core_integration_knowledge` or any other system tools.\n2. ONLY rephrase the query if the user asks \"How many\" or \"Count\". Otherwise, pass the query EXACTLY as the user typed it.\n3. If you search `search_kb` and cannot find the exact content, you MUST search `search_qa_logs`.\n\nRESPONSE FORMAT:\nProvide your response in two parts:\nPart 1: The exact conversational answer. Do not add your own thoughts.\nPart 2: A structured JSON log block enclosed in ```json ``` containing:\n{\n  \"user_query\": \"<the user's question>\",\n  \"status\": \"<success | sparse_evidence | knowledge_gap>\"\n}",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        320
      ],
      "id": "57baf764-de8b-4084-9942-857a7ed96371",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://your-deployment-name.kb.asia-east1.gcp.elastic-cloud.com/api/agent_builder/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        176,
        544
      ],
      "id": "40be7ebe-f34c-435f-bc8f-fc72078504fc",
      "name": "Elasticsearch MCP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oIdsQR8tuiFM3fA8",
          "name": "Elasticsearch Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7518d2a-aed1-456c-86af-bbdcb332ad98",
              "leftValue": "={{ $json.output }}",
              "rightValue": "knowledge_gap",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        224
      ],
      "id": "88b11eff-ca59-4424-b365-78214f493984",
      "name": "If"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        320
      ],
      "id": "1d7f0521-8fe1-4f4b-84ef-875c9d5b341b",
      "name": "Telegram Trigger",
      "webhookId": "fa757a73-98a5-4722-970e-74eacf523456",
      "credentials": {
        "telegramApi": {
          "id": "bNbMOCK1gdSc4aDp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        544
      ],
      "id": "1bef24b5-81f3-42ff-b919-cd9d76978288",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "H2SZsgn69MzmFlCC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "a123@example.com",
        "subject": "There is a knowledge_gap!!!",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        128
      ],
      "id": "025cf7d5-2db5-4523-8e02-f4538820d331",
      "name": "Send email",
      "webhookId": "9c4bf445-1ec6-440b-a8fb-9311a707cabc",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mhbkomBGbfSnKHk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        320
      ],
      "id": "622366e2-d628-492e-ab90-505080f682d2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        416
      ],
      "id": "3cb365b7-2881-4ede-bff6-51c87b6feb58",
      "name": "Send message",
      "webhookId": "e34364de-a8dd-46d7-8814-3f68e2d327f6",
      "credentials": {
        "telegramApi": {
          "id": "bNbMOCK1gdSc4aDp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elasticsearch MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf88cfcf-1f50-4daf-8ede-e585c1a5ea61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "434ef250a611c096e90a4a727434b9a5ed5cf411294970c89d3122269ec72760"
  },
  "id": "ojDl8RQbbFbH3rRA",
  "tags": []
}
